body {
  background-color: #FFF;
  animation: change-background 3s infinite linear;
}

.wrapper{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: scale(1.5,1.5) translate(-50%,-50%);
}

.floor{
  position: absolute;
}